.sign-up-form {
  width: 500px;
  margin: 0 auto;

  .status-checkbox {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  button {
    background: #1967d2;
    height: 48px;
    width: 150px;
    border-radius: 4px;
    margin-top: 10px;
  }
}