@keyframes dzrotate1 {
  0% {
      transform: translate(-50%,-50%) scale(.625) rotate(0)
  }

  100% {
      transform: translate(-50%,-50%) scale(.625) rotate(360deg)
  }
}

@keyframes dzrotate2 {
  0% {
      transform: translate(-50%,-50%) scale(.81) rotate(0)
  }

  100% {
      transform: translate(-50%,-50%) scale(.81) rotate(360deg)
  }
}

.homepage {
  margin: 0;
  padding: 40px;
  align-items: center;
}

@media screen and (min-width: 1600px) {
  .homepage {
    padding: 40px 120px;
  }
}

.banner-left,
.banner-right {
  padding: 0;
}

.banner-left .banner-text {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 15px;
  color: #17171d;
  max-width: 550px;
}

.banner-right-content {
  max-width: 600px;
  position: relative;
  min-height: 500px;
  z-index: 1;
}

.banner-actions {
  display: flex;
  max-width: 550px;
  justify-content: space-between;
  margin-top: 50px;
}

.recruiter-action,
.candidate-action {
  background: #1967d2;
  color: #fff;
  padding: 20px 40px;
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
}

.img-bg-circle-area {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-40%,-50%);
}

@media screen and (min-width: 1600px) {
  .img-bg-circle-area {
    width: 700px;
    height: 700px;
    transform: translate(-40%,-35%);
  }
}

.img-bg-circle1,
.img-bg-circle2,
.img-bg-circle3 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.img-bg-circle1 {
  background-color: #b4cded;
  z-index: 3;
  transform: translate(-50%,-50%) scale(.625);
  animation: dzrotate1 30s linear infinite both;
}

.img-bg-circle1::before {
  width: 25px;
  height: 25px;
  background-color: #1967d2;
  border-radius: 50%;
  content: '';
  position: absolute;
  left: -1.5%;
  top: 50%;
  z-index: 9;
}

.img-bg-circle1:after {
  width: 25px;
  height: 25px;
  background-color: #1967d2;
  border-radius: 50%;
  content: '';
  position: absolute;
  right: 7.5%;
  top: 20%;
  z-index: 9;
}

.img-bg-circle2 {
  background-color: #dbe6f4;
  z-index: 2;
  transform: translate(-50%,-50%) scale(.81);
  animation: dzrotate2 30s linear infinite reverse both;
}

.img-bg-circle2:after {
  width: 20px;
  height: 20px;
  background-color: #1967d2;
  border-radius: 50%;
  content: '';
  position: absolute;
  right: 15%;
  bottom: 12%;
  z-index: 9;
}

.img-bg-circle3 {
  background-color: #ecf1f7;
  z-index: 1;
}