.signinpage{
    .signupform{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .form-input{
            margin: 20px;
            width:400px;
            max-width: 500px;
        };
        .signup-btn{
            background: #1967d2;
            color: #fff;
            padding: 20px 40px;
            border-radius: 4px;
            font-size: 24px;
            cursor: pointer;
        }
    }
}